<div class="col-sm-12 form-group">
  <div class="col-sm-2 form-name">
    <span class="name-label"><%= input.label.try(:html_safe) %></span>

    <% if input.required %>
      <span class="text-danger">*</span>
    <% end %>
  </div>
  <div class="col-sm-5 form-input">
    <%= input.output%>
    <%= block.try(:call)  %>
  </div>
  <div class="col-sm-5 form-desc">
    <%= input.desc.try(:html_safe) %>
  </div>
</div>