<div class="col-sm-6">
  <div class="col-sm-2 form-data-remark-name">
    <span class="name-label"><%= input.label.try(:html_safe) %></span>
  </div>
  <div class="col-sm-4 form-data-remark-content">
    <%= input.output%>
    <%= block.try(:call)  %>
  </div>
</div>