.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.ace-form {
    margin-bottom: 60px;
    width: 100%;
    display: table;
    margin-top: 20px;
    padding-left: 40px;
}
.ace-form .ace-input {
    width: 100%;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    color: #333;
}
.ace-form textarea.ace-input {
    height: 100px;
    width: 300px;
    text-indent: 1rem;
    color: #333;
    line-height: 20px;
}
.ace-form .input-group {
    width: 200px;
}
input[type=checkbox].ace + .lbl::before, input[type=radio].ace + .lbl::before {
    color: #46AD09;
}
input[type=checkbox].ace:disabled + .lbl::before, input[type=radio].ace:disabled + .lbl::before, input[type=checkbox].ace[disabled] + .lbl::before, input[type=radio].ace[disabled] + .lbl::before, input[type=checkbox].ace.disabled + .lbl::before, input[type=radio].ace.disabled + .lbl::before {
    color: #A0F88A;
}
.wysiwyg-style1 .btn-group, .wysiwyg-style2 .btn-group {
    float: left;
}
.wysiwyg-toolbar .btn-colorpicker {
    width: 20px;
    height: 20px;
}
.ace-form .wysiwyg-editor {
    overflow-y: inherit;
    max-height: 250px;
    width: initial;
    height: 250px;
}
.ace-form .wysiwyg-editor:after {
    display: block;
    content: " ";
    border-top: 1px solid rgb(62, 62, 62);
}
.searchFilter {
    display: none !important;
}
.ace-form .text-danger {
    position: absolute;
    right: 10px;
}
.modal-dialog .modal-body {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 0;
}
.ace-form .wysiwyg-style2 {
    padding-left: 4px;
}
.ace-form .form-group > div {
    line-height: 28px;
}
.ace-form .file-label .file-name {
    overflow: visible;
}
.ace-form .file-label .file-name .remove {
    display: block;
}
.ace-form .file-label .file-name .remove .icon-remove {
    background: none;
    color: red;
    border: none;
    text-indent: -7px;
    line-height: 10px;
}
.ace-file-input .file-label.selected .file-name{
    background: #EFEFEF;
}
.ace-file-input .file-label.selected .file-name:first-child{
    border-top: 1px solid #DDD;
}
.ace-file-input .file-label.selected .file-name.active{
    background: none;
    cursor: initial;
}
.ace-file-input .file-label .file-name img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.ace-file-input .file-label.selected {
    width: 300px;
}
.ace-file-multiple input[type=file] {
    height: 50px;
    width: 300px;
    cursor: move;
}
.ace-form .form-group [class*="col-sm-"] {
    padding-left: 0;
    padding-right: 0;
}
.ace-form .form-group .form-desc {
    text-indent: 30px;
}
.ui-jqgrid .search-filter [class*="col-md-"] {
    padding-left: 0;
    padding-right: 0;
}
.ui-jqgrid .search-filter.row {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-jqgrid .search-filter select {
    width: 100%;
}
.chosen-container.chosen-container-single {
    width: 100%;
}
.ui-jqgrid .search-filter .filter[class*="col-md-"] {
    padding-right: 10px;
    height: 30px;
    margin-bottom: 20px;
}
.ui-jqgrid .search-filter .ace-spinner .spinner-input {
    height: 30px;
}
.ui-jqgrid .search-filter input {
    height: 30px;
    width: 100%;
}
.ui-jqgrid .search-filter .filter-symbol, .ui-jqgrid .search-filter .filter-value {
    padding-left: 5px;
}
.ui-jqgrid .search-filter .filter-value {
    padding-right: 5px;
}
.ui-jqgrid .search-filter .filter .close {
    position: absolute;
    right: 5px;
    top: -15px;
    color: #F4093F;
    opacity: 1;
    font-weight: normal;
    font-size: 18px;
}
.ui-jqgrid .search-panel {
    margin-top: 10px;
}